/* Mise en page générale pour toutes les pages */

*{
    margin: 0;
    padding: 0;
}

body{
    background-size: 121%;
    background-repeat: no-repeat;
    border: 2px solid white;
    margin: 50px 50px;
    color:white;
    font-family: 'gill sans cursive';
    font-size: 18px;
}

.backvideo{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}


h1{
    font-family: Arial;
    font-size: 30px;
    font-weight: bold;
    font-family: 'gill sans cursive';
    text-shadow: white 3px;
    margin: 30px 0px 0px 50px;
}

span{
    text-decoration: underline;
}



/*P1 Présentation*/

.nom{
    font-size: 22px;
    margin-left: 11%;
    text-align: center;
    font-style: italic;
    font-weight: bold;
}

.video{
    float: right;
    margin-right: 14%;
    margin-top: 0%;
    padding: 10px;
    border-radius: 25%;
}

.dev{
    text-decoration: underline 1px;
}


.presentation{
    text-align: center;
    margin-left: 1%;
    margin-right: 2%;
}



/*P2 Compétences*/


.competences{
    font-family: 'Francois One', sans-serif;
    font-size: 17px;
    text-align: left;
    margin-top: 20px;
    padding-left:30px;
    color: rgb(255, 255, 255);
}


.jaugebureautique{
    width: 90%;
    font-weight: bold;
    background-color: rgb(117, 128, 111);
    text-align: right;
    /* height: 30px; */
    margin-bottom: 20px;
    padding-top: 1vh;
    padding-right: 1vh;
}

.jaugetechno{
    width: 70%;
    font-weight: bold;
    background-color: rgb(99, 111, 92);
    text-align: right;
    /* height: 30px; */
    margin-bottom: 20px;
    padding-top: 1vh;
    padding-right: 1vh;
}


.jaugehtml{
    width: 70%;
    font-weight: bold;
    background-color: rgb(91, 101, 86);
    text-align: right;
    height: 30px;
    margin-bottom: 20px;
    padding-top: 1vh;
    padding-right: 1vh;
}


.jaugecss{
    width: 60%;
    font-weight: bold;
    background-color: rgb(81, 96, 74);
    text-align: right;
    height: 30px;
    margin-bottom: 20px;
    padding-top: 1vh;
    padding-right: 1vh;
}

.jaugesyst{
    width: 65%;
    font-weight: bold;
    background-color: rgb(69, 83, 62);
    text-align: right;
    height: 30px;
    margin-bottom: 20px;
    padding-top: 1vh;
    padding-right: 1vh;
}

.jaugegestion{
    width: 70%;
    font-weight: bold;
    background-color: rgb(58, 71, 53);
    text-align: right;
    height: 30px;
    margin-bottom: 20px;
    padding-top: 1vh;
    padding-right: 1vh;
}


/*P3 Expériences*/

.content{
    margin: 10px;
    padding: 10px;
    background-color: #ffffff2f;
    width: auto;
    height: 50vh;
    box-shadow: 0 0 100px rgb(0, 0, 0);
}


#experience{
    background-color: #ffffff40;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 0 20px rgb(0, 0, 0);
}

.quoi{
    font-size: 18px;
    margin-bottom: 5px;
}

.quand{
    color: #53cf00;
    font-size: 14px;
}

.ou{
    font-weight: bold;
    color: #215200;
}

.description {
    margin-top: 10px;
    font-size: 16px;
}



/*P4 Portfolio*/

.site{
    background:rgba(96, 95, 95, 0.386);
    border-radius: 5%;
    height: 200px;
    width: 300px;
    margin: 0px 0px 120px 50px ;
    display: inline-block;
}

#site1{
    background: linear-gradient(to bottom, rgba(84, 84, 84, 0.2), rgba(100, 100, 100, 0.2)), url('Form.PNG');
    background-size: 200%;
}

#site2{
    background: linear-gradient(to bottom, rgba(100, 100, 100, 0.2), rgba(65, 65, 65, 0.2)), url('Form2.PNG');
    background-size: 150%;

}

#site3{
    background: linear-gradient(to bottom, rgba(84, 84, 84, 0.2), rgba(100, 100, 100, 0.2)), url('Form3.PNG');
    background-size: 150%;

}

#site4{
    background-image: url('');

}

#site5{
    background-image: url('');

}

#site6{
    background-image: url('');

}



/*P5 Contact*/

.formulaire{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.form{
    width: 500px;
    height: 300px;
    text-align: center;
    margin-bottom: 200px;
}


legend{
    font-size: 24px;
    font-style: italic;
}


fieldset{
    border: 3px solid white;
    border-radius: 20% 10%;
}


/* Pied de page */

/* .contact{
    margin-top: 200px;
    padding-top: 40px;
    align-items: center;
    width: 100%;
    border: solid white;
}


.reseaux{
    width: 25%;
}

.logo{
    text-align: center;
}


footer {
    background-color: #7171714a;
    color: #fff;
    text-align: center;
    width: 100%;
    height: 50%px;
    /* padding: 0% 1px 1px 1px; */

.contact{
    /* text-align: center; */
    margin: 0px 0px 0px 100px;
    font-size: 17px;
    padding-top: 40px;
    /* align-items: center; */
    width: 80%;
    /* border: solid white; */
}


.reseaux{
    width: 25%;
    /* margin-left: 20px; */
}

/* .logo{
    text-align: center;
} */


footer {
    background-color: #7171714a;
    color: #fff;
    width: 100%;
    /* text-align: center; */
}

a:hover{
    box-shadow: 20px 20px 10px rgb(0, 0, 0);
}