body{
    color:white;
    background: linear-gradient(80.6deg,#b5adad 50%,#9d9393 50%);
    font-family: gill sans cursive;
}

#accueil{
    font-size: 20px;
}

#dev{
    text-align: center;
    border: solid 2px;
    width: 30%;
}

#contact{
    text-align: center;
    border: dotted 6px;
    width: 30%;
}